@import '@fortawesome/fontawesome-free/css/all.min.css';
*{
  padding: 0;
  margin: 0;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: linear-gradient(135deg, #56CCF2 0%, #2F80ED 100%);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  z-index: 0;
  height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header{
  z-index: 1;
}
header h1 {
  color: #fff;
  font-size: 5rem;
  line-height: 6rem;
}
header p {
  color: #fff;
}
main {
  z-index: 1;
}
.place__input {
  margin-top: 30px;
  font-family: sans-serif;
  margin-top: 35px;
}

.place__input input.place__field {
  width: 460px;
  height: 34px;
  font-size: 14px;
  text-transform: capitalize;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  background: rgba(255, 255, 255, 0.4); /* Transparent */
  backdrop-filter: blur(10px);     
  color: #fff;
}

.place__input input.place__field:focus {
  border-color: #007BFF; /* Bootstrap blue */
  box-shadow: 0 0 3px #007BFF;
}
.weather__box {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.weather-card {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 20px 30px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: #464444;
  text-align: left;
  border-left: 5px solid #fff;
  transition: all 0.3s ease-in-out;
}

.weather-card:hover {
  scale: 1.02;
  cursor: pointer;
}

.weather-card h2 {
  margin: 0;
  font-size: 20px;
}

.weather-card p.condition {
  margin: 5px 0 5px;
  color: #7a7a7a;
}

.temperature {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 20px;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #7a7a7a;
}

.details span {
  display: flex;
  /* align-items: center; */
}

.details span img {
  margin-right: 5px;
}

.todaysCard {
  background-color: rgba(255, 255, 255, 0.8);
}
.loader {
  margin-top: 30px;
}
.loader i {
  color: #fff;
  font-size: 60px;
}